{%- liquid 
  case block.settings.button_style
    when 'button'
      assign button_classes = 'banner-block__button button button--primary'
    when 'button-outline'
      assign button_classes = 'banner-block__button button button--secondary'
    when 'text' 
      assign button_classes = 'banner-block__button link--background'
  endcase

  -%}
<div class="banner-block--{{ block.id }}  banner-block banner-block--buttons">
    {%- style -%}
   

    #Banner-{{ section.id }} .banner-block--{{ block.id }} .banner-block__button {
      
      {%- if block.settings.button_style == 'button' -%}
        {%- if block.settings.button_color_background and block.settings.button_color_background != blank and block.settings.button_color_background != 'rgba(0,0,0,0)' -%}
          --color-button: {{ block.settings.button_color_background }};
        {%- endif -%}
      {%- elsif block.settings.button_style == 'button-outline' -%} 
        --color-button: transparent;
      {%- endif -%}

      {%- if block.settings.button_color_text and block.settings.button_color_text != blank and block.settings.button_color_text != 'rgba(0,0,0,0)' -%}
        --color-button-text: {{ block.settings.button_color_text }};
        --link-text: {{ block.settings.button_color_text }};
      {%- endif -%}

      {%- if block.settings.button_color_border and block.settings.button_color_border != blank and block.settings.button_color_border != 'rgba(0,0,0,0)' -%}
      --color-button-border: {{ block.settings.button_color_border }};
      {%- endif -%}

      {%- if block.settings.button_color_background_hover and block.settings.button_color_background_hover != blank and block.settings.button_color_background_hover != 'rgba(0,0,0,0)' -%}
      {%- if block.settings.button_style != 'button-outline' -%}
      --color-button-hover: {{ block.settings.button_color_background_hover }};
      {%- else -%}
      --color-button-hover: transparent
      {%- endif -%}
      --link-bg-hover: {{ block.settings.button_color_background_hover }};
      {%- endif -%}
      
      {%- if block.settings.button_color_text_hover and block.settings.button_color_text_hover != blank and block.settings.button_color_text != 'rgba(0,0,0,0)' -%}
        --color-button-text-hover: {{ block.settings.button_color_text_hover }};
        --link-text-hover: {{ block.settings.button_color_text_hover }};
      {%- endif -%}

      {%- if block.settings.button_color_border_hover and block.settings.button_color_border_hover != blank and block.settings.button_color_border_hover != 'rgba(0,0,0,0)' -%}
      --color-button-border-hover: {{ block.settings.button_color_border_hover }};
      {%- endif -%}
    }
    
    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }} .banner-block--{{ block.id }} .banner__buttons {
        width: {{ block.settings.button_width }}%;
      }
      #Banner-{{ section.id }} .banner__box .banner__buttons--multiple {
        grid-gap: {{ block.settings.button_gap }}px;
      }
    }

    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }} .banner-block--{{ block.id }} .banner-block__button  {
        {%- if block.settings.button_style == 'button' -%}
          {%- if block.settings.button_color_background_mobile and block.settings.button_color_background_mobile != blank and block.settings.button_color_background_mobile != 'rgba(0,0,0,0)' -%}
            --color-button: {{ block.settings.button_color_background_mobile  }};
          {%- endif -%}
        {%- else -%}
          --color-button: transparent;
        {%- endif -%}
        
        {%- if block.settings.button_color_text_mobile and block.settings.button_color_text_mobile != blank and block.settings.button_color_text_mobile != 'rgba(0,0,0,0)' -%}
          --color-button-text: {{ block.settings.button_color_text_mobile  }};
        {%- endif -%}
        {%- if block.settings.button_color_border_mobile and block.settings.button_color_border_mobile != blank and block.settings.button_color_border_mobile != 'rgba(0,0,0,0)' -%}
        --color-button-border: {{ block.settings.button_color_border_mobile }};
        {%- endif -%}
      }

    }
    
    {%- endstyle -%}
    <div class="banner__buttons banner__buttons--multiple banner__buttons-grid--{{ block.settings.button_grid }} banner__buttons-grid--{{ block.settings.button_grid_mobile }}-mobile {{ button_wrapper_classes }}" {{ block.shopify_attributes }}>
      {%- if block.settings.button_label_1 != blank -%}
        <div  class="{{ block.settings.alignment }}">
          <a{% if block.settings.button_link_1 != blank %} href="{{ block.settings.button_link_1 }}"{% endif %} class="{{ button_classes }}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
        </div>
      {%- endif -%}
      {%- if block.settings.button_label_2 != blank -%}
       <div class="{{ block.settings.alignment }}">
        <a{% if block.settings.button_link_2 != blank %} href="{{ block.settings.button_link_2 }}"{% endif %} class="{{ button_classes }}"{% if block.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_2 | escape }}</a>
       </div>
      {%- endif -%}
      {%- if block.settings.button_label_3 != blank -%}
        <div class="{{ block.settings.alignment }}">
          <a{% if block.settings.button_link_3 != blank %} href="{{ block.settings.button_link_3 }}"{% endif %} class="{{ button_classes }}"{% if block.settings.button_link_3 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_3 | escape }}</a>
        </div>
      {%- endif -%}
      {%- if block.settings.button_label_4 != blank -%}
        <div class="{{ block.settings.alignment }}">
          <a{% if block.settings.button_link_4 != blank %} href="{{ block.settings.button_link_4 }}"{% endif %} class="{{ button_classes }}"{% if block.settings.button_link_4 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_4 | escape }}</a>
        </div>
      {%- endif -%}
    </div>
  </div>