{{ 'component-card.css' | asset_url | stylesheet_tag }}

<div class="col-prod-slider {{ section.settings.page_width }}">
    {%- if section.settings.slider_title != blank -%}
    <h2 class="h3 content-section-title">
        {{ section.settings.slider_title }}
    </h2>
    {%- endif -%}
    <p style="color: {{ section.settings.pera_z1}};" class="content-section-peregraph">
      {{ section.settings.new_peregrapfh }}
    </p>
    <div>
        <div class="content-slider">
            {% for block in section.blocks %}
            {% assign bset = block.settings %}
           
        <div class="content-slide" {{ block.shopify_attributes }}>
                <a class="content-slide-link text-decoration-none" href="{{ bset.link }}">
                    <div class="position-relative">
                        {%- assign img_url = bset.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <div style="padding-top:{{ 1 | divided_by: bset.image.aspect_ratio | times: 100}}%;">
                        <img id="{{ img_id }}"
                            class="custom__image lazyload js "
                            src="{{ bset.image | img_url: '300x300' }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ bset.image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ bset.image.alt | escape }}">
                        </div>
                        <noscript>
                        {% capture image_size %}{{ max_height }}x{% endcapture %}
                        {{ bset.image | img_url: image_size, scale: 2, crop: 'top' | img_tag: bset.image.alt, 'custom__image' }}
                        </noscript>
                    </div>
    				<div class="conten_slider_information">
                       <div>
                        {%- if bset.title != blank -%}
                        <p style="color:{{ bset.pera_z3 }};" class="content-slider-title">{{ bset.title }}</p>
                        {%- endif -%}

                        {%- if bset.text != blank -%}
                        <p style="color:{{ bset.pera_z6 }};" class="content_slider_text content-slider-text">{{ bset.text }}</p>
                        {%- endif -%}
                       </div>

                        {%- if bset.link_text != blank -%} 
                        <div>
                            <p class="link--background inline-block content-slider-button">{{ bset.link_text }}</p>
                        </div>
                        {%- endif -%}

                   </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    #shopify-section-{{ section.id }} .content-slide {
        width: calc(100% / {{ section.settings.slides_per_view }}); 
    }

    #shopify-section-{{section.id}} .content-section-title {
        color: {{section.settings.text_color}};
        font-family: {{section.settings.font_v2}};
    }


    #shopify-section-{{section.id}} .col-prod-slider {
        margin-top: {{ section.settings.top_spacing }}px;
        margin-bottom: {{ section.settings.bottom_spacing }}px;
    }
</style>

{% if section.settings.slides_per_view < section.blocks.size %}
<script>
    $(document).ready(function() {
        $("#shopify-section-{{section.id}} .content-slider").slick({
            dots: true,
            arrows: true,
            infinite: false,
            slidesToShow: {{ section.settings.slides_per_view }},
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 749,
                    settings: {
                        slidesToShow: 1,
                        arrows: true
                    }
                }
            ]
        })
    });
</script>
{% endif %}

{% schema %}
{
    "name": "Collection/Product Slide",
    "settings": [
        {
            "type": "select",
            "id": "page_width",
            "label": "Section width",
            "default": "page-width",
            "options": [
            {
                "value": "",
                "label": "Full width"
            },
            {
                "value": "page-width",
                "label": "Contained"
            },
            {
                "value": "page-width--narrow",
                "label": "Contained (narrow)"
            }
            ]
        },
        {
            "type": "text",
            "id": "slider_title",
            "label": "Title"
        },
        
        {
            "type": "color",
            "id": "text_color",
            "label": "Title colour",
            "default": "#000000"
        },
         {
          "type": "select",
          "id": "font_v2",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
            "type": "textarea",
            "id": "new_peregrapfh",
            "label": "Subtitle"
        },
        {
            "type": "header",
            "content": "Subtitle"
        },
        {
            "type": "color",
            "id": "pera_z1",
            "label": "subTitle colour",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "top_spacing",
            "label": "Space from top",
            "min": 0,
            "max": 100,
            "step": 5,
            "default": 30,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "bottom_spacing",
            "label": "Space from bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "default": 15,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Slider settings"
        },
        {
            "type": "range",
            "id": "slides_per_view",
            "label": "Slides per view",
            "info": "For desktop. Mobile will default to one slide per view",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 4
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "color",
                    "id": "pera_z3",
                    "label": "colour"
                },
                
        		{
          			"type": "text",
          			"id": "pera_z5",
          			"label": "size"
        		},
                {
                    "type": "html",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "color",
                    "id": "pera_z6",
                    "label": "colour"
                },
                
        		{
          			"type": "text",
          			"id": "pera_z8",
          			"label": "size"
        		},
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link text"
                },
                {
                    "type": "color",
                    "id": "pera_z9",
                    "label": "colour"
                },
                
        		{
          			"type": "text",
          			"id": "pera_z11",
          			"label": "size"
        		},
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection/Product Slide",
            "category": "Custom"
        }
    ]
}
{% endschema %}