<div class="component-wrapper___2BSG0">
  <div class="page-width articals-wrapper">
    <div class="heading-olders">
      <h2 style="color:{{section.settings.head_d1}}; font-family:{{section.settings.head_d2}}; font-size:{{section.settings.head_d3}}px;">{{section.settings.older_title}}</h2>
    </div>
    <div class="gl-carousel__content">
      {% for block in section.blocks %}
      <div class="teaser-media___22wQp">
        <div class="older-imge-conten">
        	<img src="{{block.settings.older_img | img_url: 'master'}}">
        </div>
        <div class="teaser-content___2qVy3">
          <div class="title___3i4il gl-body">
            <h6 style="color:{{block.settings.head_d4}}; font-family:{{block.settings.head_d5}}; font-size:{{block.settings.head_d6}}px;" class="withhtml">{{block.settings.older_text}}</h6>
          </div>
          <p style="color:{{block.settings.head_d7}}; font-family:{{block.settings.head_d8}}; font-size:{{block.settings.head_d9}}px;" class="summary___3soIS gl-body">{{block.settings.older_subtext}}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  
  </div>

</div>


{% schema %}
{
"name": "img-text-one",
  "settings": [
    {
      "type": "text",
      "id": "older_title",
      "label": "Heading",
      "default": "Your title"
    },
        {
          "type": "color",
          "id": "head_d1",
          "label": "Color"
        },
        {
          "type": "select",
          "id": "head_d2",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
          "type": "text",
          "id": "head_d3",
          "label": "size"
        }

  ],
  
"blocks": [
     
    {
      "type": "text",
      "name": "box",
      "settings": [
       
        {
           "id": "older_img",
           "type": "image_picker",
            "label": "Image"
         },
         {
          "type": "text",
          "id": "older_text",
          "label": "text"
        },
        {
          "type": "color",
          "id": "head_d4",
          "label": "Color"
        },
        {
          "type": "select",
          "id": "head_d5",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
          "type": "text",
          "id": "head_d6",
          "label": "size"
        },
        {
          "type": "text",
          "id": "older_subtext",
          "label": "text"
        },
        {
          "type": "color",
          "id": "head_d7",
          "label": "Color"
        },
        {
          "type": "select",
          "id": "head_d8",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
          "type": "text",
          "id": "head_d9",
          "label": "size"
        }
		
      ]
    }

  ],
  
  "presets": [
    {
      "category": "text",
      "name": "img-text-one"
    }
  ]
}
{% endschema %}