{{ 'section-image-list.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- style -%} 
.image-list-wrapper--{{ section.id }} {
  padding-left: {{ section.settings.spacing_horizontal_outside }}px;
  padding-right: {{ section.settings.spacing_horizontal_outside }}px;
  margin-top: {{ section.settings.content_spacing_top }}px;
  margin-bottom: {{ section.settings.content_spacing_bottom }}px;
}
{%- endstyle -%}

<div class="image-list-wrapper--{{ section.id }} image-list-wrapper {% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %} {{ section.settings.page_width }}">

  {%- if section.settings.title != blank -%}
  <div class="{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
    <h2 
    class="image-list-title section-title h6 f-heading"
    style="--font-heading-family: {{ section.settings.font_family }};
          --font-heading-weight: {{ section.settings.font_weight }};"
    >
    {%- if section.settings.heading_link != blank -%}<a href="{{ section.settings.heading_link }}" class="text-underline-hover">{%- endif -%}
    {{ section.settings.title | escape }}
    {%- if section.settings.heading_link != blank -%}</a>{%- endif -%}
  </h2>
  </div>
  {%- endif -%}

  <div>
    <ul class="image-list grid grid--1-col grid--{{ section.settings.size }}-col-tablet{% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %} image-list--{{ section.settings.size }}-items margin-0 {% if section.settings.layout_mobile != blank and section.settings.text_position != 'overlap' %} image-list__mobile--{{ section.settings.layout_mobile }}{% endif %} {% if section.settings.text_position != blank %} image-list--text-{{ section.settings.text_position }}{% endif %}"
        style="--grid-desktop-horizontal-spacing: {{ section.settings.spacing_horizontal }}px;"
    >
      {%- for block in section.blocks -%} 
      <li class="image-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %} image-list__item--{{ block.id }}" {{ block.shopify_attributes }}>
        {%- style -%} 
          .image-list__item--{{ block.id }} .card__text-heading {
            {%- if block.settings.title_color != blank -%}
            --color-foreground: {{ block.settings.title_color | color_extract: 'red' }}, {{ block.settings.title_color | color_extract: 'green' }}, {{ block.settings.title_color | color_extract: 'blue' }};
            {%- endif -%}
            font-family: var({{ block.settings.title_font_family }});
          }

          .image-list__item--{{ block.id }} .card__text-text {
            {%- if block.settings.text_color != blank -%}
            --color-base-text: {{ block.settings.text_color | color_extract: 'red' }}, {{ block.settings.text_color | color_extract: 'green' }}, {{ block.settings.text_color | color_extract: 'blue' }};
            {%- endif -%}
          }

           

            @media screen and (min-width: 750px) {
              {%- if block.settings.title_sizing == 'scale' -%} 
             .image-list__item--{{ block.id }} .card__text-heading {
                font-size: {{ block.settings.title_scale }}vw;
              }
              {%- elsif block.settings.title_sizing == 'fixed' -%}
             .image-list__item--{{ block.id }} .card__text-heading {
                font-size: {{ block.settings.title_size }}px;
              }
              {%- endif -%}

              {%- if block.settings.text_sizing == 'scale' -%} 
             .image-list__item--{{ block.id }} .card__text-text {
                font-size: {{ block.settings.text_scale }}vw;
              }
              {%- elsif block.settings.text_sizing == 'fixed' -%}
             .image-list__item--{{ block.id }} .card__text-text {
                font-size: {{ block.settings.text_size }}px;
              }
              {%- endif -%}
            }
        {%- endstyle -%}
        <a{% if block.settings.link != blank %} href="{{ block.settings.link }}"{% endif %}
          class="card link{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}"
        >
          <div class="card--stretch ">
              <div class="position-relative image-list__content{% if section.settings.image_padding %} card__media-spacer{% endif %}">

                {%- if section.settings.text_position != 'below' -%}
                <div class="card__text card__text-spacing card-colored card__text-hover {% if section.settings.text_position != 'above' %} a-{{ block.settings.position_vertical }}-{{ block.settings.position_horizontal }} text-{{ block.settings.position_horizontal }} justify-content-{{ block.settings.position_horizontal }} w-full{% endif %} {{ section.settings.alignment }}">
                    {% unless section.settings.image_padding %}<div class="overlay-card"></div>{% endunless %}
                    <div>
                      {%- if block.settings.text != blank -%}
                      <p class="f-body card__text-text">{{ block.settings.text }}</p>
                      {%- endif -%}
                      <h3 class="h1 margin-0 f-heading card__text-heading">
                        {%- if block.settings.title != blank -%}
                          {{- block.settings.title | escape -}}
                        {%- else -%}
                          {{ 'onboarding.collection_title' | t }}
                        {%- endif -%}
                      </h3>
                    </div>
                  </div>
                  {%- endif -%}


                  {% if section.settings.image_padding %}<div class="overlay-card"></div>{% endif %}
                  <div class="media{% if section.blocks.size > 1 %} media--{{ section.settings.image_ratio }}{% endif %} media--hover-effect overflow-hidden {% if block.settings.image_mobile != blank %}small--hide{% endif %}"
                    {% if section.settings.image_ratio == 'adapt' %}style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}>
                    <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if block.settings.image.width >= 330 -%}{{ block.settings.image | img_url: '330x' }} 330w,{%- endif -%}
                      {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                      {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                      {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                      {%- if block.settings.image.width >= 1440 -%}{{ block.settings.image | img_url: '1440x' }} 1440w,{%- endif -%}
                      {%- if block.settings.image.width >= 1880 -%}{{ block.settings.image | img_url: '1880x' }} 1880w{%- endif -%}"
                      src="{{ block.settings.image | img_url: '533x' }}"
                      sizes="(min-width: 1100px){% if section.blocks.size > 1 %}535px{% else %}940px{% endif %}, (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %}, calc(100vw - 3rem)"
                      alt="{{ block.settings.image.alt | escape }}"
                      height="{{ block.settings.image.height }}"
                      width="{{ block.settings.image.width }}"
                      loading="lazy"
                      class="motion-reduce"
                    >

                    <div 
                    class="media--overlay"
                    style="
                      --color-media-overlay: {{ block.settings.overlay_color | color_extract: 'red' }}, {{ block.settings.overlay_color | color_extract: 'green' }}, {{ block.settings.overlay_color | color_extract: 'blue' }};
                      --color-media-overlay-opacity: {{ block.settings.overlay_opacity | times: 0.01 }}
                    "
                    ></div>
                  </div>

                  {%- if block.settings.image_mobile != blank -%}
                  
                  <div class="media{% if section.blocks.size > 1 %} media--{{ section.settings.image_ratio }}{% endif %} media--hover-effect overflow-hidden medium-up--hide"
                    {% if section.settings.image_ratio == 'adapt' %}style="padding-bottom: {{ 1 | divided_by: block.settings.image_mobile.aspect_ratio | times: 100 }}%;"{% endif %}>
  
                    <img srcset="{%- if block.settings.image_mobile.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if block.settings.image_mobile.width >= 330 -%}{{ block.settings.image_mobile | img_url: '330x' }} 330w,{%- endif -%}
                      {%- if block.settings.image_mobile.width >= 535 -%}{{ block.settings.image_mobile | img_url: '535x' }} 535w,{%- endif -%}
                      {%- if block.settings.image_mobile.width >= 720 -%}{{ block.settings.image_mobile | img_url: '720x' }} 720w,{%- endif -%}
                      {%- if block.settings.image_mobile.width >= 940 -%}{{ block.settings.image_mobile | img_url: '940x' }} 940w,{%- endif -%}
                      {%- if block.settings.image_mobile.width >= 1440 -%}{{ block.settings.image_mobile | img_url: '1440x' }} 1440w,{%- endif -%}
                      {%- if block.settings.image_mobile.width >= 1880 -%}{{ block.settings.image_mobile | img_url: '1880x' }} 1880w{%- endif -%}"
                      src="{{ block.settings.image_mobile | img_url: '533x' }}"
                      sizes="(min-width: 1100px){% if section.blocks.size > 1 %}535px{% else %}940px{% endif %}, (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %}, calc(100vw - 3rem)"
                      alt="{{ block.settings.image_mobile.alt | escape }}"
                      height="{{ block.settings.image_mobile.height }}"
                      width="{{ block.settings.image_mobile.width }}"
                      loading="lazy"
                      class="motion-reduce"
                    >

                    <div 
                    class="media--overlay"
                    style="
                      --color-media-overlay: {{ block.settings.overlay_color | color_extract: 'red' }}, {{ block.settings.overlay_color | color_extract: 'green' }}, {{ block.settings.overlay_color | color_extract: 'blue' }};
                      --color-media-overlay-opacity: {{ block.settings.overlay_opacity | times: 0.01 }}
                    "
                    ></div>
                  </div>

                  {%- endif -%}

                  {%- if section.settings.text_position == 'below' -%}
                <div class="card__text card__text-spacing card-colored card__text-hover {{ section.settings.alignment }}">
                    {% unless section.settings.image_padding %}<div class="overlay-card"></div>{% endunless %}
                    <div>
                      {%- if block.settings.text != blank -%}
                      <p class="f-body card__text-text">{{ block.settings.text }}</p>
                      {%- endif -%}
                      <h3 class="h1 margin-0 f-heading card__text-heading">
                        {%- if block.settings.title != blank -%}
                          {{- block.settings.title | escape -}}
                        {%- else -%}
                          {{ 'onboarding.collection_title' | t }}
                        {%- endif -%}
                      </h3>
                    </div>
                  </div>
                  {%- endif -%}
                        
					 
              </div>

          </div>
        </a>
      </li>
      {%- endfor -%} 
    </ul>
   
{%- comment -%}
<style>
.tab {
  overflow: hidden;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  
  font-size: 17px;
  
}
.tab button:hover {
	border-bottom: 2px solid;  
}
.tab button img {
  	width: 100%;
}
.tabs_contener {
  display: flex;
  padding:0 15px;
}
.tabcontent {
  display: none;
  padding: 6px 15px;
}
#slid-file {
  padding: 0;
  list-style: none;
  position: relative;
}
#featured_tabs {
	display: none;  
}
section#shopify-section-template--15773388701926__1648028630effa185f {
    padding-top: 30px;
    margin-top: 20px;
}
.owl-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}
.owl-carousel .owl-nav button.owl-prev {
    background: white;
    color: black;
    border: 1px solid #e9ecef;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 40px;
}
.owl-carousel .owl-nav button.owl-prev:hover {
	border-color: black;  
}
.owl-carousel .owl-nav button.owl-prev::before {
    content: "\2190";
    position: relative;
    font-size: 35px;
    bottom: 7px;
}
.owl-carousel .owl-nav button.owl-next::before {
    content: "\2192";
    position: relative;
    font-size: 35px;
    bottom: 7px;
}
.owl-carousel .owl-nav button.owl-next {
    background: white;
    color: black;
    border: 1px solid #e9ecef;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 40px;
}
.owl-carousel .owl-nav button.owl-next:hover {
	border-color: black;  
}
button.owl-prev.disabled {
    visibility: hidden;
}
button.owl-next.disabled {
    visibility: hidden;
}
.owl-dots {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;

}
.owl-carousel button.owl-dot {
     background: #767677;
    color: inherit;
    height: 2px;
    padding: 0!important;
    width: 15px;
    margin: 0 6px;
}
.owl-carousel button.owl-dot.active {
   background: black;
   height: 4px;
}
</style>

<div id="featured_tabs">
    <div class="tabs_contener">
      {% for block in section.blocks %}
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'home-{{ forloop.index }}')" 	{% if forloop.first == true %}id="defaultOpen"	{% endif %}>{{block.settings.tab_name_new}}</button>
        </div>
       {% endfor %}
    </div>
  	{% for block in section.blocks %}
    <div id="home-{{ forloop.index }}" class="tabcontent">
	   <div id="tab_expert">
        <ul id="slid-file" class="owl-carousel">
            {% for product in collections[block.settings.collection_slide].products %}
                <li class="swiper-slide ">
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating
                %}
                </li>
            {%- else -%}
                {%- for i in (1..4) -%}
                <li class="swiper-slide">
                    {% render 'card-product-placeholder' %}
                </li>
                {%- endfor -%}
            {%- endfor -%}
            </ul>
      </div>
    </div>
     {% endfor %}
</div>  
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
  
  
  //---------------------slider-script------------------

	$('.owl-carousel').owlCarousel({
    loop:false,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:2,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
})

</script>

  <script>
   $('ul#hide').click(function(){
  $('#featured_tabs').css("display", "block");
     $(this).hide();
  });
  
  </script>
{%- endcomment -%}


{% schema %}
{
  "name": "Image list",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "label": "Section width",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Contained"
        },
        {
          "value": "page-width--narrow",
          "label": "Contained (narrow)"
        }
      ]
    },
    {
      "type": "range",
      "id": "size",
      "label": "Items per row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "info": "On desktop."
    },
    {
        "type": "range",
        "id": "spacing_horizontal",
        "label": "Horizontal space between blocks",
        "min": 0,
        "max": 50,
        "step": 5,
        "default": 15,
        "unit": "px"
    },
    {
      "type": "range",
      "id": "content_spacing_top",
      "label": "Top spacing",
      "min": 0,
      "max": 60,
      "step": 5,
      "default": 20,
      "unit": "px",
      "info": "Adjusts the top space from other sections."
  },
  {
      "type": "range",
      "id": "content_spacing_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 60,
      "step": 5,
      "default": 20,
      "unit": "px",
      "info": "Adjusts the bottom space from other sections."
    },
    {
      "type": "range",
      "id": "spacing_horizontal_outside",
      "label": "Outer horizontal space",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 15,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "checkbox",
      "id": "image_padding",
      "default": false,
      "label": "Add image padding"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text content position",
      "default": "overlap",
      "info": "Adjust the 'Above image' mobile layout below.",
      "options": [
        {
          "value": "above",
          "label": "Above image"
        },
        {
            "value": "below",
            "label": "Below image"
        },
        {
          "value": "overlap",
          "label": "On top of image"
        }
      ]
    },
    {
        "type": "select",
        "id": "alignment",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
            {
                "value": "text-left",
                "label": "Left"
            },
            {
                "value": "text-center",
                "label": "Centre"
            },
            {
                "value": "text-right",
                "label": "Right"
            }
        ]
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "heading_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "font_family",
      "label": "Title font",
      "default": "Neue Plak Wide",
      "options": [
        {
            "label": "Neue Plak",
            "value": "Neue Plak"
        },
        {
            "label": "Neue Plak Wide",
            "value": "Neue Plak Wide"
        }
      ]
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Title font weight",
      "default": "normal",
      "info": "Not all font weight are available for all theme fonts",
      "options": [
        {
          "label": "normal",
          "value": "normal"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "bold",
          "value": "bold"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text Position - Above image"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "Layout (mobile)",
      "default": "",
      "options": [
        {
          "value": "horizontal",
          "label": "Image left, content right"
        },
        {
          "value": "",
          "label": "Content above, image below"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "featured_item",
      "name": "Image item",
      "settings": [
       {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (mobile)",
          "info": "If blank, desktop image will be used."
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "#000000",
          "info": "Leave blank to hide the overlay"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "info": "Move to 0 to hide overlay",
          "default": 15,
          "min": 0,
          "max": 100,
          "step": 5
        },
        {
          "type": "header",
          "content": "Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "select",
          "id": "title_font_family",
          "label": "Font family",
          "default": "--font-body-family",
          "options": [
              {
              "label": "Neue Plak",
              "value": "--font-body-family"
            },
            {
              "label": "Neue Plak Wide",
              "value": "--font-heading-family"
            }
          ]
      },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#000000"
        },
        {
          "type": "radio",
          "id": "title_sizing",
          "label": "Font sizing options",
          "info": "Select the type of font sizing to use. Set the \"scale\" and \"fixed\" options below. Applies to desktop browser sizes.",
          "default": "",
          "options": [
            {
              "value": "scale",
              "label": "Scale with screen"
            },
            {
              "value": "fixed",
              "label": "Fixed size (in pixels)"
            },
            {
              "value": "",
              "label": "Default size"
            }
          ]
        },
        {
          "type": "range",
          "id": "title_scale",
          "label": "Font scaling",
          "min": 0,
          "max": 8,
          "step": 0.2,
          "default": 2.2
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Fixed font size",
          "info": "A fixed font size.",
          "min": 10,
          "max": 50,
          "step": 1,
          "default": 30,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "radio",
          "id": "text_sizing",
          "label": "Font sizing options",
          "info": "Select the type of font sizing to use. Set the \"scale\" and \"fixed\" options below. Applies to desktop browser sizes.",
          "default": "",
          "options": [
            {
              "value": "scale",
              "label": "Scale with screen"
            },
            {
              "value": "fixed",
              "label": "Fixed size (in pixels)"
            },
            {
              "value": "",
              "label": "Default size"
            }
          ]
        },
        {
          "type": "range",
          "id": "text_scale",
          "label": "Font scaling",
          "min": 0,
          "max": 8,
          "step": 0.2,
          "default": 2.2
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Fixed font size",
          "info": "A fixed font size.",
          "min": 10,
          "max": 50,
          "step": 1,
          "default": 30,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Position - Overlap"
        },
        {
          "type": "select",
          "id": "position_vertical",
          "label": "Vertical position",
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            } 
          ]
        },
        {
          "type": "select",
          "id": "position_horizontal",
          "label": "Horizontal position",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            } 
          ]
        }
        
        
  		
      ]
    }
  ],
  "presets": [
    {
      "name": "Image list",
      "category": "Custom",
      "blocks": [
        {
          "type": "featured_item"
        },
        {
          "type": "featured_item"
        },
        {
          "type": "featured_item"
        }
      ]
    }
  ]
}
{% endschema %}