{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-color-swatches.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<style>
  .template-search__header {
    margin-bottom: 3rem;
  }

  .template-search__search {
    margin: 0 auto 3.5rem;
    max-width: 47.8rem;
  }

  .template-search__search .search {
    margin-top: 3rem;
  }

  .template-search--empty {
    padding-bottom: 18rem;
  }

  @media screen and (min-width: 750px) {
    .template-search__header {
      margin-bottom: 5rem;
    }
  }

  .search__button .icon {
    height: 1.8rem;
  }
</style>

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  assign has_product = false
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="template-search{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %} section-{{ section.id }}-padding">
  <div class="template-search__header page-width">
    {%- if search.performed -%}
      <h1 class="h2">
        <span class="padding-bottom block">{{ 'templates.search.title' | t }}</span>
        <span class="h1 block">
          “{{ search.terms | escape }}”
          {%- if search.performed -%}
          {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
            {%- if search.results_count > 0 -%}
              <span role="status" class="light text-small">[{{ search.results_count }}]</span>
            {%- endif -%}
          {%- endunless -%}
        {%- endif -%}
        </span>
      </h1>
    {%- else -%}
      <h1 class="h2">{{ 'general.search.search' | t }}</h1>
    {%- endif -%}

    
    
    {%- comment -%}
    <div class="template-search__search">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
      {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="type" value="product" />
            <input type="hidden" name="options[unavailable_products]" value="hide" />
            <input name="options[prefix]" type="hidden" value="last">

            {%- if settings.predictive_search_enabled -%}
              <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>

              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
            {%- endif -%}

            <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <svg class="icon icon-search">
                <use xlink:href="#icon-search">
              </svg>
            </button>
          </div>
        </form>
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%}

    </div>
    {%- endcomment -%}
    {%- if search.performed -%}
      {%- if search.results_count == 0 and search.filters == empty -%}
        <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if search.performed -%}
    {%- if search.filters != empty -%}
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <div class="page-width">
          {% render 'facets', results: search, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
        </div>
      {%- endif -%}
    {%- endif -%}
    <div id="ProductGridContainer">
      {%- if search.results.size == 0 and search.filters != empty -%}
        <div class="template-search__results collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: search_url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        {% paginate search.results by section.settings.products_per_page %}
          <div class="template-search__results collection page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <ul class="grid product-grid css-grid grid--{{ section.settings.columns_mobile }}-col grid--{{ section.settings.columns_tablet }}-col-tablet{% if section.settings.columns_desktop == 1 %} grid--full-width{% else %} grid--{{ section.settings.columns_desktop }}-col-desktop{% endif %}" role="list"
            data-infinite="{{ section.settings.enable_infinite_load }}"
            data-hide-duplicates="{{ section.settings.hide_duplicate_products }}">
              {%- for item in search.results -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}

               
                  {%- case item.object_type -%}
                    {%- when 'product' -%}
                    {%- assign has_product = true -%}
                      {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}

                      {%- if section.settings.show_prod_vendor == true -%} 
                          {%- assign hide_prod_vendor = false -%}
                        {%- else -%}
                          {%- assign hide_prod_vendor = true -%}
                        {%- endif -%}
                      {%- capture currentProductName -%}{%- render 'snippet--product-name', product: item, hide_vendor: hide_prod_vendor -%}{%- endcapture -%}

                      {%- unless section.settings.hide_duplicate_products == true and productList contains currentProductName -%}
                        {%- if section.settings.hide_sold_out == false or section.settings.hide_sold_out == true and item.available == true -%}

                        {%- if section.settings.hide_duplicate_products == true -%} 
                          {%- assign formatList = currentProductName | strip | append: ', ' -%}
                          {%- assign productList = productList | append: formatList -%}
                        {%- endif -%}
                        <li class="grid__item product-item" data-prod-name="{{ currentProductName | strip }}">
                        {% render 'card-product',
                          card_product: item,
                          media_aspect_ratio: section.settings.image_ratio,
                          show_secondary_image: section.settings.show_secondary_image,
                          show_vendor: section.settings.show_vendor,
                          lazy_load: lazy_load,
                          swatch_size: 'small',
                          swatch_display: 'below'
                        %}
                        </li>
                        {%- endif -%}
                      {%- endunless -%}

                      
                    {%- when 'article' -%}
                    <li class="grid__item">
                      {% render 'article-card',
                        article: item,
                        show_image: true,
                        show_date: section.settings.article_show_date,
                        show_author: section.settings.article_show_author,
                        show_badge: true,
                        media_aspect_ratio: 1,
                        lazy_load: lazy_load
                      %}
                    </li>
                    {%- when 'page' -%}
                    <li class="grid__item">
                      <div class="card-wrapper underline-links-hover">
                        <div class="card card--card card--text ratio color-{{ settings.card_color_scheme }}" style="--ratio-percent: 100%;">
                            <div class="card__content">
                              <div class="card__information">
                                <h3 class="card__heading">
                                  <a href="{{ item.url }}" class="full-unstyled-link">
                                    {{ item.title | truncate: 50 | escape }}
                                  </a>
                                </h3>
                              </div>
                              <div class="card__badge {{ settings.badge_position }}">
                                <span class="badge color-background-1">{{ 'templates.search.page' | t }}</span>
                              </div>
                        </div>
                      </div>
                    </li>
                  {%- endcase -%}
                
              {%- endfor -%}
            </ul>
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate %}
              {%- if section.settings.enable_infinite_load == true -%}
                <div class="loading-spinner--wrapper js">
                  <div class="loading-spinner loading-spinner--large"></div>
                </div>
                {%- endif -%}
            {%- endif -%}
          </div>
        {% endpaginate %}
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
{%- if search.performed and search.results.size > 0 and has_product == true -%}
<script>
  window.addEventListener("DOMContentLoaded", () => {
    const enableInfiniteLoad = {{ section.settings.enable_infinite_load }};
    const productCount = document.querySelectorAll(".product-item").length;
    const showColorSwatches = {{ section.settings.show_color_swatches }};
    const hideDuplicateProducts = {{ section.settings.hide_duplicate_products }};

    var collectionWaitForJQuery = setInterval(function () {
      if(typeof $ != 'undefined') {
        clearInterval(collectionWaitForJQuery);

        if(productCount > 0) {
          let settings = {}

          if(showColorSwatches) {
            settings = {
              hideDuplicates: hideDuplicateProducts,
              showSwatches: showColorSwatches,
            }
          }
          
          let ajaxSettings = {}
          if(enableInfiniteLoad) {
            ajaxSettings = {
              isSearch: false,
              hideDuplicates: {{ section.settings.hide_duplicate_products }},
              showSwatches: {{ section.settings.show_color_swatches }},
            }
          }

          productGridSetUp({isSearch: true, variantSettings: settings, ajaxSettings });
        }
      }
    }, 100);
  });
</script>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-search.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Number of columns on tablet"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2,
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_infinite_load",
      "default": true,
      "label": "Enable infinite load"
    },
    {
      "type": "checkbox",
      "id": "show_color_swatches",
      "default": true,
      "label": "Show color swatches"
    },
    {
      "type": "select",
      "id": "swatch_size",
      "label": "Color swatch size",
      "default": "small",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hide_duplicate_products",
      "default": false,
      "label": "Hide duplicate products",
      "info": "This will group variants as one product."
    },
    {
      "type": "checkbox",
      "id": "hide_sold_out",
      "label": "Hide sold out products",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_mobile.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
