<div class="video-component-wrapper___2BSGde">
  <div class="enargy_video_one">
    <video width="100%" height="100%" autoplay muted loop playsinline class="video-main-class" src="{{ section.settings.video_cycled_url }}" type="video/mp4">
    </video>
  </div>
  <div class="enargy_video_mobile">
    <video width="100%" height="100%" autoplay muted loop playsinline class="video-main-class" src="{{ section.settings.cycled_video_mobile }}" type="video/mp4">
    </video>
  </div>
  <div class="cycled-video-text-conten">
    <div class="poster_conten_new">
        <img src="{{section.settings.cycled_img | img_url: 'master'}}">
        <h2 style="color:{{section.settings.head_n1}}; font-family:{{section.settings.head_n2}}; font-size:{{section.settings.head_n3}}px;" class="video-title new_g5_terminal">{{ section.settings.video_cycled_title }}</h2>
        <p style="color:{{section.settings.head_n4}}; font-family:{{section.settings.head_n5}}; font-size:{{section.settings.head_n6}}px;" class="enargy_sometext">{{ section.settings.video_cycled_text }}</p>
        <a style="color:{{section.settings.head_n7}}; font-family:{{section.settings.head_n8}}; font-size:{{section.settings.head_n9}}px;" class="enargy-btn" href="{{ section.settings.video_cycled_btn_url }}">{{ section.settings.video_cycled_btn_text }}</a>
    </div>
  </div>

</div>


{% schema %}
{
"name": "video-banner",
  "settings": [
    {
      "type": "url",
      "id": "video_cycled_url",
      "label": "video-url"
    },
    {
      "type": "url",
      "id": "cycled_video_mobile",
      "label": "mobile-video-url"
    },
    {
       "id": "cycled_img",
       "type": "image_picker",
       "label": "Image"
    },
    {
      "type": "text",
      "id": "video_cycled_title",
      "label": "video-title"
    },
    {
          "type": "color",
          "id": "head_n1",
          "label": "Color"
        },
        {
          "type": "select",
          "id": "head_n2",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
          "type": "text",
          "id": "head_n3",
          "label": "size"
        },    
    {
      "type": "html",
      "id": "video_cycled_text",
      "label": "video-text"
    },
    {
          "type": "color",
          "id": "head_n4",
          "label": "Color"
        },
        {
          "type": "select",
          "id": "head_n5",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
          "type": "text",
          "id": "head_n6",
          "label": "size"
        },
   {
      "type": "text",
      "id": "video_cycled_btn_text",
      "label": "btn_title"
    },
    {
          "type": "color",
          "id": "head_n7",
          "label": "Color"
        },
        {
          "type": "select",
          "id": "head_n8",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
          "type": "text",
          "id": "head_n9",
          "label": "size"
        },
    {
      "type": "url",
      "id": "video_cycled_btn_url",
      "label": "btn-url"
    }

  ],
  

  
  "presets": [
    {
      "category": "text",
      "name": "third-video"
    }
  ]
}
{% endschema %}