<div class="video-component-wrapper___2BSG0">
  <div class="oragnice_video_one">
    <video width="100%" height="100%" autoplay muted loop playsinline class="video-main-class" src="{{ section.settings.video_oragenice_url }}" type="video/mp4">
    </video>
  </div>
  <div class="oragnice_video_mobile">
    <video width="100%" height="100%" autoplay muted loop playsinline class="video-main-class" src="{{ section.settings.mobile_oragenice_url }}" type="video/mp4">
    </video>
  </div>
  <div class="video-text-conten">
    <h2 style="color:{{section.settings.head_f1}}; font-family:{{section.settings.head_f2}}; font-size:{{section.settings.head_f3}}px;" class="video-title">{{ section.settings.video_oragenice_title }}</h2>
  </div>

</div>


{% schema %}
{
"name": "video-banner",
  "settings": [
    {
      "type": "url",
      "id": "video_oragenice_url",
      "label": "video-url"
    },
    {
      "type": "url",
      "id": "mobile_oragenice_url",
      "label": "mobile-video"
    },
    {
      "type": "text",
      "id": "video_oragenice_title",
      "label": "video-text"
    },
    {
          "type": "color",
          "id": "head_f1",
          "label": "Color"
        },
        {
          "type": "select",
          "id": "head_f2",
          "label": "Font",
          "default": "Neue Plak",
          "options": [
            {
                "label": "Neue Plak",
                "value": "Neue Plak"
            },
            {
                "label": "Neue Plak Wide",
                "value": "Neue Plak Wide"
            }

          ]
        },
        {
          "type": "text",
          "id": "head_f3",
          "label": "size"
        }

  ],
  

  
  "presets": [
    {
      "category": "text",
      "name": "review-section"
    }
  ]
}
{% endschema %}